@model RplNiwatori.Models.Formulir_Order

@{
    ViewBag.Title = "Create";
}


<br />
<div class="alert alert-warning" id="alt">
    <a href="#" class="close">&times;</a>
    <strong>Silahkan mengisi formulir pemesanan untuk membeli barang</strong>
</div>

<br />
<p>
    @Html.Raw(ViewBag.Pesan)
</p>

@*@using (Html.BeginForm("Create", "Formulir_Order", FormMethod.Post,
    new { enctype = "multipart/form-data" }))*@
@using (Html.BeginForm("Create", "Formulir_Order", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Nama_Pelanggan, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Nama_Pelanggan, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Nama_Pelanggan, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Alamat, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Alamat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Alamat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Kecamatan</label>
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Id_Kec,
               ViewBag.Master_Kecamatan as IEnumerable<SelectListItem>, "Pilih Kecamatan",
               new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Id_Kec, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">Metode Bayar</label>
            <div class="col-md-10">
                    @Html.DropDownListFor(model => model.Id_Metode,
                   ViewBag.Metode_Bayar as IEnumerable<SelectListItem>, "Pilih Metode Bayar",
                   new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Id_Metode, "", new { @class = "text-danger" })
                </div>
            @*@Html.RadioButton("Metode_Bayar", "Transfer") Transfer*@
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.No_Hp, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.No_Hp, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.No_Hp, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Pesan" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
