<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        input[type=text] {
            width: 1200px;
            height: 48px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 2px;
            font-size: 11px;
            background-color: white;
            background-image: url('search-icon.png');
            background-position: 10px 10px;
            background-repeat: no-repeat;
            padding: 12px 20px 12px 40px;
            -webkit-transition: width 0.4s ease-in-out;
            transition: width 0.4s ease-in-out;
        }

            input[type=text]:focus {
                width: 80%;
            }
    </style>

    <script type = 'text/javascript' >
        var appInsights=window.appInsights||function(config)
        {
            function r(config){ t[config] = function(){ var i = arguments; t.queue.push(function(){ t[config].apply(t, i)})} }
            var t = { config:config},u=document,e=window,o='script',s=u.createElement(o),i,f;for(s.src=config.url||'//az416426.vo.msecnd.net/scripts/a/ai.0.js',u.getElementsByTagName(o)[0].parentNode.appendChild(s),t.cookie=u.cookie,t.queue=[],i=['Event','Exception','Metric','PageView','Trace','Ajax'];i.length;)r('track'+i.pop());return r('setAuthenticatedUserContext'),r('clearAuthenticatedUserContext'),config.disableExceptionTracking||(i='onerror',r('_'+i),f=e[i],e[i]=function(config, r, u, e, o) { var s = f && f(config, r, u, e, o); return s !== !0 && t['_' + i](config, r, u, e, o),s}),t
        }({
            instrumentationKey:'0e11c8ed-2df0-44a3-82bd-091819370ed6'
        });
        
        window.appInsights=appInsights;
        appInsights.trackPageView();
    </script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ayam Potong Pak Yosep", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Profil", "Index", "Home")</li>
                    <li>@Html.ActionLink("Kontak", "About", "Home")</li>
                    <li>@Html.ActionLink("Produk", "Index", "Barang")</li>
                    @*//Search*@
                    <li>@using (Html.BeginForm("Search", "Barang", FormMethod.Post, new { @class = "form-inline" }))
                    {
                        <input type="text" name="txtSearch" placeholder="Search" class="form-control" />
                    }
                </li>
                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer style="padding: 1em;
            color: black;
            background-color: darksalmon;
            clear: left;
            text-align: left;
           ">
            <div class="col-md-6">
                <h4>Layanan Pelanggan</h4>

                @Html.ActionLink("Cara Pemesanan", "About", "Home")
                <br />

                @Html.ActionLink("Pengiriman", "About", "Home")

            </div>



            <div class="col-md-6">
                <h4>Kontak</h4>
                <img src="~/Content/image/phone.png" height="20" width="20" /> 08172826067
                <br /> <br />
                <img src="~/Content/image/email.png" height="20" width="20" /> yosepsutijo@gmail.com
                <br /><br />
                <h4>Lokasi</h4>
                <img src="~/Content/image/lokasi.png" height="20" width="20" /> Ds.Grenggeng RT 02/RW 09 No. 10, Karanganyar, Kebumen
            </div>

            <br />
            <p>&copy; @DateTime.Now.Year - Niwatori Apps</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
